.container {
  display: flex;
  height: 100vh;

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #49806f;
  }

  &__content {
    display: flex;
    padding: 1em 2em;
  }
}

.brand {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  justify-content: center;
  padding: 1.2em 0 0.5em 0;

  &:hover {
    cursor: pointer;
  }
}

.note-link {
  text-decoration: none;
  color: #fff;
  align-items: center;
  
  &__active {
    background: #fff;
    padding: 10px 5px 10px 20px;
    color: #49806f;
  }

  &__inactive {
    padding: 10px 5px 10px 20px;
    background: #49806f;
  }
}
